
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
}


header {
  background-color: #0b3d91;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
}


.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #dce9ff;
}

.hero h2 {
  font-size: 32px;
}

.hero p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  background-color: #0b3d91;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.emergency-btn {
  background-color: red;
}


.services {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}


.about {
  text-align: center;
  padding: 40px 20px;
  background-color: #eaf2ff;
}


footer {
  background-color: #0b3d91;
  color: white;
  text-align: center;
  padding: 15px;
}




@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {

  nav a {
    display: block;
    margin: 10px 0;
  }

  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 16px;
  }

}